h2 {
    margin-bottom: 5px;
}

mat-form-field {
    width: 100%;
    margin-bottom: -10px;
}

span {
    color: red;
}

.title-container {
    display: flex;
    justify-content: space-between;
}

.spinner {
margin-right: 20px;
margin-top: 20px;
}